{% extends "skel.html" %}
{% block title %}CV{% endblock %}
{% block content %}
<div class="cv m-5 flex max-w-4xl">
  <div class="cv-body-section">
  <div class="cv-section font-sans">
    <section class="cv-heading-section" itemscope itemtype="https://schema.org/Person">
      <h2 class="text-2xl font-extrabold">
        <span itemprop="givenName">{{ cv.header.first_name }}</span> <span
          itemprop="familyName">{{ cv.header.last_name }}</span>
      </h2>
      <br />
      <span itemprop="jobTitle" class="font-semibold subtitle">
        {{ cv.header.subtitle }}
      </span>
      <br />
      <a href={{ cv.header.mail_to() }} itemprop="email">
                  {{ cv.header.email }}
                </a>
      <div class="flex mx-auto">
       {% for link in cv.header.links %}
        <figure class="px-3 w-px1">
          <a target="_blank" rel="noreferrer" href={{ link.hyperlink.target }}>
            <img src={{ link.icon }} alt={{ link.hyperlink.name }} height={{ img_dim }} width={{ img_dim }} />
          </a>
          <figcaption class="text-xs subtitle">{{ link.hyperlink.name }}</figcaption>
        </figure>
        {% endfor %}
      </div>
    </section>
    <div class="float-right address cv-heading-section" itemscope itemtype="https://schema.org/PostalAddress">
      {% if !cv.header.address.street.is_empty() %}
      <div itemprop="streetAddress">
        {{ cv.header.address.street }}
      </div>
    {% endif %}
      <span itemprop="addressLocality">
        {{ cv.header.address.locality.name }}
      </span>, <abbr title={{ cv.header.address.locality.state.full_name }} itemprop="addressRegion">
        {{ cv.header.address.locality.state.abbreviation }}
      </abbr>
      <span itemprop="postalCode">{{ cv.header.address.locality.postal_code }}</span>
      <br />
      <span itemprop="addressCountry">
        {{ cv.header.address.locality.state.country }}
      </span>
    </div>
  </div>
      <section id="cv-intro">
        <span class="font-medium italic">{{ cv.intro.one_liner }}</span>
        <div>
          <h3 class="intro-heading">About</h3>
          <p class="intro-section">{{ cv.intro.about }}</p>
          <h3 class="intro-heading">Skills</h3>
          <p class="intro-section">{{ cv.intro.skills }}</p>
          <h3 class="intro-heading">Techs</h3>
          <p class="intro-section">{{ cv.intro.techs }}</p>
        </div>
      </section>
      <section>
        <h3 class="cv-section-title">Education</h3>
        <ul class="schools">
          {% for ed in cv.education %}
          <li>
            <span class="school-name font-semibold">{{ ed.name }}</span>
            <span class="float-right text-sm subtitle">Unofficial transcript available on request</span>
            <div class="flex">
              <div class="address" itemscope itemtype="https://schema.org/PostalAddress">
                {% if !ed.address.street.is_empty() %}
                  <div itemprop="streetAddress">
                    {{ ed.address.street }}
                  </div>
                {% endif %}
                <span itemprop="addressLocality">
                  {{ ed.address.locality.name }}
                </span>, <abbr title={{ ed.address.locality.state.full_name }} itemprop="addressRegion">
                  {{ ed.address.locality.state.abbreviation }}
                </abbr>
                <span itemprop="postalCode">{{ ed.address.locality.postal_code }}</span>
                <br />
                <span itemprop="addressCountry">
                  {{ ed.address.locality.state.country }}
                </span>
              </div>
              <ul class="float-right px-10">
                {% for degree in ed.degrees %}
                <li>
                  <p>
                    <abbr title="{{ degree.degree_type.full_name() }}" class="font-semibold">
                      {{ degree.degree_type.abbreviation() }}
                    </abbr> {{ degree.subject }}
                    <br />
                    <span class="date grad-date">
                      <span class="month">{{ degree.graduation_date.month }}</span> <span
                        class="year">{{ degree.graduation_date.year }}</span>
                    </span> {% if degree.expected %}<span class="text-xs italic">- expected</span>{% endif %}
                    | GPA: {{ degree.gpa }}
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}</ul>
      </section>
      <section>
        <h3 class="cv-section-title">Projects</h3>
        {% for project in cv.projects %}
        <div class="project">
            <span class="font-bold">{{ project.name }}</span>
            <div>{{ project.synopsis }}</div>
        </div>
        {% endfor %}
      </section>
    </div>
    <section class="cv-body-section">
      <h3 class="cv-section-title">Employment</h3>
      {% for e in cv.employment %}
      <div>
        <span class="font-semibold">{{ e.title }}</span>
        <br />
        <span class="italic text-sm">{{ e.employer }}</span>
        <div class="float-right address" itemscope itemtype="https://schema.org/PostalAddress">
          {% if !e.address.street.is_empty() %}
          <div itemprop="streetAddress">
            {{ e.address.street }}
          </div>
        {% endif %}
          <span itemprop="addressLocality">
            {{ e.address.locality.name }}
          </span>, <abbr title="{{ e.address.locality.state.full_name }}" itemprop="addressRegion">
            {{ e.address.locality.state.abbreviation }}
          </abbr>
          <span itemprop="postalCode">{{ e.address.locality.postal_code }}</span>
          <br />
          <span itemprop="addressCountry">
            {{ e.address.locality.state.country }}
          </span>
        </div>
        <br />
        <span class="date grad-date">
          <span class="month">{{ e.begin_date.month }}</span> <span class="year">{{ e.begin_date.year }}</span>
        </span> - {% if e.end_date.is_some() %}<span class="date grad-date">
          <span class="month">{{ e.end_date.unwrap().month }}</span> <span
            class="year">{{ e.end_date.unwrap().year }}</span>
        </span>{% else %}<span class="text-sm italic">current</span>{% endif %}
        <br />
        <ul class="list-none">
          {% for point in e.bullets %}
          <li class="emp-bullet max-w-md text-sm italic">- {{ point }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}