{% extends "skel.html" %}
{% block title %}CV{% endblock %}
{% block content %}
    <div class="cv">
        <div class="cv-section">
            <section class="cv-heading-section" itemscope itemtype="https://schema.org/Person">
                <span class="text-2xl font-extrabold">
                  <span itemprop="givenName">{{ cv.header.first_name }}</span> <span itemprop="familyName">{{ cv.header.last_name }}</span>
                </span>
                <br />
                <span itemprop="jobTitle" class="subtitle">
                  {{ cv.header.subtitle }}
                </span>
                <br />
                {# <a href={{ mail_to }} itemprop="email">
                  {{ cv.header.email }}
                </a> #}
                <div class="flex mx-auto">
                    {% for link in cv.header.links %}
                    <figure class="px-3 w-px1">
                        <a target="_blank" rel="noreferrer" href={{ link.link.target }}>
                          <img
                            src={{ link.icon }}
                            alt={{ link.link.name }}
                            height={{ img_dim }}
                            width={{ img_dim }}
                          />
                        </a>
                        <figcaption class="text-xs subtitle">{{ link.link.name }}</figcaption>
                      </figure>
                    {% endfor %}
                </div>
            </section>
            <section class="float-right address cv-heading-section" itemscope itemtype="https://schema.org/PostalAddress">
                <div itemprop="streetAddress">
                  {{ cv.header.address.street }}
                </div>
                <span itemprop="addressLocality">
                  {{ cv.header.address.locality.name }}
                </span>, <abbr title={{ cv.address.locality.state.full_name }} itemprop="addressRegion">
                  {{ cv.header.address.locality.state.abbreviation }}
                </abbr>
                <span itemprop="postalCode">{{ cv.header.address.locality.postal_code }}</span>
                <br />
                <span itemprop="addressCountry">
                  {{ cv.header.address.locality.state.country }}
                </span>
              </section>
        </div>
        <div class="cv-section">
          <section id="cv-intro cv-body-section">
            <span class="font-semibold italic">{{ cv.intro.one_liner }}</span>
            <p>
              <span class="intro-heading">About</span>
              <p class="intro-section">{{ cv.intro.about }}</p>
              <span class="intro-heading">Skills</span>
              <p class="intro-section">{{ cv.intro.skills }}</p>
              <span class="intro-heading">Techs</span>
              <p class="intro-section">{{ cv.intro.techs }}</p>
            </p>
          </section>
          <section>
            <ul>
            {% for ed in cv.education %}
              <li>
                <span class="school-name">{{ ed.name }}</span>
                <section class="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <div itemprop="streetAddress">
                    {{ ed.address.street }}
                  </div>
                  <span itemprop="addressLocality">
                    {{ ed.address.locality.name }}
                  </span>, <abbr title={{ cv.address.locality.state.full_name }} itemprop="addressRegion">
                    {{ ed.address.locality.state.abbreviation }}
                  </abbr>
                  <span itemprop="postalCode">{{ ed.address.locality.postal_code }}</span>
                  <br />
                  <span itemprop="addressCountry">
                    {{ ed.address.locality.state.country }}
                  </span>
                </section>
                <p class="subtitle">Unofficial transcript available on request</p>
                <ul class="schools">
                  {% for degree in ed.degrees %}
                    <li>
                      <p>
                        <abbr title={{ degree.degree_type.full_name() }} class="degree-type">
                          {{ degree.degree_type.abbreviation() }}
                        </abbr> {{ degree.subject }}
                        <br />
                        <span class="grad-date">
                          MONTHYEAR
                        </span> {% if degree.expected %}<span class="expected">- expected</span>{% endif %}
                        {{ degree.gpa }}
                      </p>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}</ul>
          </section>
            <section class="cv-body-section">
            </section>
        </div>
    </div>
{% endblock %}