<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - deciduously.com</title>
  <meta name="Description" content="Ben Lovy's personal website" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  {# this must be a 192px square PNG #}
  {# <link rel="apple-touch-icon" href="/favicon.svg" /> #}
  <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/tomorrow-night.min.css" />
  <link rel="manifest" href="/manifest.json" />
  <script src="/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body class="bg-gray-100">
  <header class="flex max-w-4xl mx-auto p-5">
    <nav>
      {% for link in links %}
      <a class="{% if link.target == "/" %}font-extrabold text-lg{% else %}italic{% endif %} px-10"
        href={{ link.target }}>{{ link.name }}</a>
      {% endfor %}
    </nav>
  </header>
  <main class="max-w-4xl mx-auto p-2">
    {% block content %}{% endblock %}
  </main>
  <footer class="text-xs italic max-w-lg mx-auto p-2">
    © 2020 Ben Lovy - <a href="https://github.com/deciduously/deciduously-com" target="_blank"
      rel="noreferrer">source</a>
  </footer>
</body>

</html>