<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - deciduously.com</title>
    <meta name="Description" content="Personal website" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
  </head>
  <body>
    <header>
      <nav>
        {% for link in links %}
          <a href={{ link.target }}>{{ link.name }}</a>
        {% endfor %}
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        Copyright 2020 Ben Lovy
    </footer>
  </body>
</html>
